.contactUsContainer{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;

}
.contactUsContainer h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 400;
}
.form{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.formName{
    box-sizing: border-box;
    resize: vertical;

    padding: 20px 0;
}
.formEmail{
    box-sizing: border-box;
    resize: vertical;

    padding: 20px 0;
}
.part1{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;

}
.part2{
    width: 300px;
    height: 300px;
    padding: 20px 0;
    
    
}
.fromMessage{
    align-items: center;
    width: 350%;
    height: 50%;
    padding: 20px ;
}
.form-button button{
    padding: 10px;
    width: 100%;
    background-color: #65B060;
    border: none;

}
.form-button button:hover{
    background-color: #54A2D5;
}
.contactUsContainer{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
























